@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
:root {
    --primaryColor: #59AA47;
    --secondaryColor:#8B8E8F;
    --bgColorPrimary: #59AA47;
    --bgColorSecondary: #5C5856;
    --whiteColor:#fff;
    --fontFamily: 'Poppins', sans-serif;

    /* wordpress root file */
    --e-global-color-primary: #59AA47;
    --e-global-color-secondary: #8B8E8F;
    --e-global-color-text: #8B8E8F;
    --e-global-color-accent: #5C5856;
    --e-global-typography-primary-font-family: "Poppins";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "Poppins";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Roboto";
    --e-global-typography-text-font-size: 16px;
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-text-line-height: 22px;
    --e-global-typography-text-letter-spacing: 0.3px;
    --e-global-typography-accent-font-family: "Poppins";
    --e-global-typography-accent-font-weight: 500;
}
body {
    background: #fff;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400;
    box-sizing: border-box;
}
h1 {
    font-size: 60px;
}
/* h2 {
    font-size: 50px;
}
h3 {
    font-size: 30px;
}
h4 {
    font-size: 25px;
}
h5 {
    font-size: 20px;
}
h6 {
    font-size: 15px;
} */
img {
    max-width: 100%;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

body a {
    color: var(--primaryColor);
    text-decoration: none;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.section {
    padding-bottom:100px;
    padding-top: 100px;
}
.inner-services img {
    margin-bottom: 18px;
}
/* loader CSS */
#nprogress{
    pointer-events:none
}
#nprogress .bar{
    background: var(--primaryColor);
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
}
#nprogress .peg {
    display: block;
    position: absolute;
    right: 0;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px var(--primaryColor),0 0 5px var(--secondaryColor);
    opacity: 1;
    -webkit-transform: rotate(3deg) translate(0,-4px);
    -ms-transform: rotate(3deg) translate(0,-4px);
    transform: rotate(3deg) translate(0,-4px)
}
#nprogress .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    top: 15px;
    right: 15px
}
#nprogress .spinner-icon {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border: 4px solid transparent;
    border-top-color: var(--primaryColor);
    border-left-color: var(--primaryColor);
    border-radius: 50%;
    -webkit-animation: nprogress-spinner 400ms linear infinite;
    animation: nprogress-spinner 400ms linear infinite
}
.nprogress-custom-parent {
    overflow:hidden;
    position:relative
}
.nprogress-custom-parent #nprogress .bar,.nprogress-custom-parent #nprogress .spinner {
    position:absolute
}
@-webkit-keyframes nprogress-spinner {
    0% {
        -webkit-transform:rotate(0deg)
    }
    100% {
        -webkit-transform:rotate(360deg)
    }
}
@keyframes nprogress-spinner {
    0% {
        transform:rotate(0deg)
    }
    100% {
        transform:rotate(360deg)
    }
}


/* design part here */
.head-footer-bg{
    background-color: var(--bgColorSecondary)
}

/* primary button css */
body .btn-primary {
    background: var(--primaryColor);
    color: #fff;
    border-color: transparent;
    outline: none;
}
body .btn-default {
    background: #fff;
    border: solid 1px var(--primaryColor);
    color: var(--primaryColor);
    outline: none;
}
/* body .btn-rounded {
    border-radius: 50px !important;
} */
body .btn-primary:hover,
body .btn-default:hover,
body .btn-primary:active,
body .btn-default:active,
body .btn-primary:focus-visible {
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20) !important; */
    background: var(--bgColorPrimary);
    color: #fff !important;
    border-color: transparent !important;
    outline: none;
}

body .btn-primary-two {
    background: var(--bgColorSecondary);
    color: #fff;
    border-color: transparent;
    outline: none;
    border-radius: 0px;
}
body .btn-primary-two:hover {
    background: var(--bgColorSecondary);
    color: #fff;
    border-color: transparent;
    outline: none;
    border-radius: 0px;
}

body .btn-job{
    background: var(--whiteColor);
    color: #303030;
    border-radius: 5px;
    border: solid 1px #303030;
    width: 100%;
}
body .btn-job:hover{
    background-color: var(--bgColorPrimary) !important;
    color: #fff;
    border-radius: 5px;
    border: solid 0px #303030;
    width: 100%;
}


/* loader CSS */
#nprogress{
    pointer-events:none
}
#nprogress .bar{
    background: var(--primaryColor);
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
}
#nprogress .peg {
    display: block;
    position: absolute;
    right: 0;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px var(--primaryColor),0 0 5px var(--secondaryColor);
    opacity: 1;
    -webkit-transform: rotate(3deg) translate(0,-4px);
    -ms-transform: rotate(3deg) translate(0,-4px);
    transform: rotate(3deg) translate(0,-4px)
}
#nprogress .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    top: 15px;
    right: 15px
}
#nprogress .spinner-icon {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border: 4px solid transparent;
    border-top-color: var(--primaryColor);
    border-left-color: var(--primaryColor);
    border-radius: 50%;
    -webkit-animation: nprogress-spinner 400ms linear infinite;
    animation: nprogress-spinner 400ms linear infinite
}
.nprogress-custom-parent {
    overflow:hidden;
    position:relative
}
.nprogress-custom-parent #nprogress .bar,.nprogress-custom-parent #nprogress .spinner {
    position:absolute
}
@-webkit-keyframes nprogress-spinner {
    0% {
        -webkit-transform:rotate(0deg)
    }
    100% {
        -webkit-transform:rotate(360deg)
    }
}
@keyframes nprogress-spinner {
    0% {
        transform:rotate(0deg)
    }
    100% {
        transform:rotate(360deg)
    }
}


/* navigation bar design */
.navbar-nav .nav-item a {
    color:var(--whiteColor);
    font-size: 14px;
    font-weight: 600;
}

.navbar-nav .nav-link.active  {
    color: var(--bgColorPrimary);
    font-size: 14px;
    font-weight: 600;
}


.navbar-nav  .dropdown-menu {
    background-color: var(--bgColorPrimary);
}

@media (min-width: 992px)
{
    .navbar-expand-lg .navbar-nav .nav-link {
       padding-left: 40px;
    }
}

.sticky-header.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 20px !important;
 }

.sticky-header .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--bgColorPrimary) !important;
}
.sticky-header .navbar-nav .nav-link:hover {
    color: var(--bgColorPrimary) !important;
}
.sticky-header .dropdown-item:hover, .dropdown-item:focus {
    color: var(--whiteColor) !important;
    background-color: var(--bgColorSecondary) !important;
}

.dropdown-item.active, .dropdown-item:active {
    color: var(--bgColorPrimary);
    text-decoration: none;
    background-color: var(--bgColorSecondary);
}

/* Footer design Here */

.footer {
    padding-top: 65px;
    padding-bottom:65px;
}

.footer h5{
    color: var(--bgColorPrimary);
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 40px;
}
.footer p{
    font-size: 16px;
    color: var(--whiteColor);
}

.space5{
    padding-bottom: 30px;
}
.space10{
    padding-bottom: 50px;
}
.space2{
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer li{
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 0rem;
}
.footer-nav {
    padding-left: 0px;
}
.footer-nav li a{
    color: var(--whiteColor);
}
.footer-nav li a:hover{
    color:var(--bgColorPrimary)
}

.footer-nav li span{
    padding-left: 20px;
    color: var(--whiteColor);
}


.footer .footer-nav{
    list-style: none;
}

.social-media a img {
    height: 30px;
    width: 30px;
}

@media screen and (max-width: 767px)
{
    .footer h5 {
        padding-bottom: 20px;
    }
}

.copy-right {
    background-color: var(--bgColorPrimary);
    padding-top: 20px;
    padding-bottom: 20px;
}
.copy-right .copy-right-text{
    color: var(--whiteColor);
    text-align: center;
    font-size: 16px;
}

.social-media-list{
    padding-left: 15px
}

.sticky-header {
    position: fixed !important;
    top: 0 !important;
    width: 100%;
    z-index: 2;
  }

  

  /* project page design */
  .project-bg{
    background-color: #F2F2F2;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .project-page .inner-page{
    background-color: #fff;
    padding-left: 25px;
    padding-right: 20px;
  }

  .project-page ul {
    list-style:none;
    padding-left: 30px;
  }
  .project-page ul li{
    color: #303030;
    font-size: 24px;
    padding-bottom: 15px;
  }
  .project-page .col-lg-3 , .col-lg-9{
    margin: 0;
    padding: 0;
  }

  .project-page ul li :hover{
    color: #59AA47;
    background-color: #fff;
    
  }

  .project-page ul li .active{
    font-size: 24px !important;
    font-weight: bold;
    border-bottom: 4px solid var(--bgColorPrimary);
    border-radius: 0px;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 5px;
    background-color: #fff;
    
  }

  .project-page .inner-page h3{
    padding-left: 0px;
    padding-top: 20px;
  }

  .project-page .inner-page h3 strong{
    color: var(--bgColorPrimary);
  }


  /* .........All Job Post.... */

  .job-slider{
    background-color: #F2F2F2;
  }
  .job-slider h4{
    font-size: 50px;
    font-weight: bold;
    color: #303030;
  }

  .job-slider .job-item{
    background-color: #fff;
    padding: 15px 15px 15px 15px;
    border-top: 4px solid var(--bgColorPrimary);
    border-radius: 5px;
    margin: 10px;
  }
  .job-slider .job-item strong{
     font-size: 12px;
     color: #000;
  }

  .job-slider .job-item .job-title{
    font-size: 24px;
    font-weight: bold;
    color: #303030;
    padding-top: 20px;
  }
  .job-slider .job-item ul{
    list-style: none;
    display: flex;
    padding: 0px;
  }
  .job-slider .job-item ul li{
    list-style: none;
    background-color: #F2F2F2;
    color: #8B8E8F;
    padding: 10px 25px 10px 25px;
    border-radius: 7px;
    margin: 5px;
  }

  .job-slider .job-item .job-description{
    padding-top: 10px;
  }



  /* inner career page */


  .section-carrers .year-class ul{
    list-style: none;
    display: flex;
    padding: 0px;
  }
  .section-carrers .year-class ul li{
    list-style: none;
    background-color: #F2F2F2;
    color: #8B8E8F;
    padding: 10px 25px 10px 25px;
    border-radius: 7px;
    margin: 5px;
  }

  .section-carrers h1{
    font-size: 50px;
    font-weight: bold;
  }

  .share-link{
    padding-left: 20px;
    padding-top: 10px;
  }

  .arrow {
    position: relative;
    display: inline-block;
    cursor: -webkit-grab;
    cursor: grab;
}

.arrow img {
    transition: transform 0.3s ease-in-out;
}

.arrow:hover img {
    transform: scale(1.1); /* Change the scale value to adjust the pop effect */
}

.section-job {
    padding-top: 50px;
    padding-bottom: 20px;
}

.section-carrers-elemntor .job-elemento-decrip{
    background-color: #F2F2F2;
    padding: 20px 20px 20px 20px;

}

/* .......section-news....... */

.section-news{
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url('/images/two-right-two.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.news-event-section h2{
    font-size: 50px;
    font-weight: bold;
}
.inner-event-right{
    padding-bottom: 10px;
}
.inner-event-right img{
    height: 140px;
    width: 100%;
}

.accolades-slider{
    background-color: #5C5856;
}
.accolades-slider .inner-accolades-slider h4{
   color: #fff;
   font-size: 50px;
   font-weight: bold;
}

.hide-team{
    display: none !important;
}

.model-head.d-flex-model {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}

.d-flex-model img {
    transition: transform 0.3s ease-in-out;
}

.d-flex-model:hover img {
    transform: scale(1.1); 
}

.project-page .project-bg h5{
    font-size: 30px;
    color: var(--bgColorPrimary);
}

.project-page .project-bg h6{
    font-size: 30px;
    color: #303030;
}

.head-pg h3 strong{
	font-size:  24px !important; 
	color: #303030 !important;
}

.news-list h3{
    padding-bottom: 15px;
    padding-left: 30px;
}

.news-list .news ul li{
    list-style: none;
    color: #303030;
    padding-top: 10px;
    padding-bottom: 5px;
  }
  .news-list .news ul li img{
    padding-left: 5px;
    padding-right: 15px;
  }

  .enquiry .col-lg-5{
    background-color: #F2F2F2;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 25px;
  }

  .enquiry .col-lg-5 h6{
    font-size: 30px;
    color: #303030;
    font-weight: 700;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
  }



  /* ............ */

  .horizontal-tabs {
    width: 100%;
    padding-top: 10px;
  }
  .tab-buttons {
    display: flex;
  }
  .tab-buttons-pr {
    display:block;
  }
  .tab-buttons button {
    padding: 8px 16px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .tab-buttons button.active {
    background-color: #fff;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: var(--bgColorPrimary);
  }
  .tab-content {
    margin-top: 20px;
  }

  .tab-bg{
    background-color: #F2F2F2;
  }
  

  .enq-form{
    border: 1px solid #8B8E8F;
    border-radius: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .enq-form p{
    padding-top: 2px;
    padding-left: 5px;
    margin-bottom: 7px !important;
  }

  .enq-form textarea.form-control.custom-selecaddress {
    height: 140px;
}

.reset-btn{
    margin-left: 20px;
    border: 1px solid var(--bgColorPrimary);
}
.reset-btn:hover{
    margin-left: 20px;
    border: 1px solid var(--bgColorPrimary);
}

.news-list .inner-img img{
  height: 30px;
  
}

.location .tab-buttons {
    padding-left: 30px;
    padding-top: 10px;
}


/* over view css */
.over-view-design{
    margin-top: 40px;
    padding-bottom: 50px;
}

.over-view-design h2{
   font-size: 40px;
   font-weight: 700;
   padding-bottom: 30px;
}




.image-container {
    position: relative;
    width: auto;
    height: 320px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    overflow: hidden;
    border-radius: 15px;
    margin-bottom: 25px;
   
}

.title-overlay {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 24px;
    font-weight: 600;
    
}

.text-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
 
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 24px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-container:hover .title-overlay {
    top: -40px;
    display: none;
}

.image-container:hover .text-overlay {
    opacity: 1;
    bottom: 0;
}
.text-overlay ul li{
    font-size: 15px;
}

.horizontal-tabs .added{
    background-color: #59AA47;
    border-radius: 15px;
    color: #fff;
    padding-top: 50px;
    padding-left: 25px;
    font-size: 16px;
}
.horizontal-tabs .added h3{
    padding-bottom: 10px;
    font-size: 30px !important;
}

.inner-over {
    padding-left: 30px;
    padding-top: 100px;
}


.tab-bg-pr {
    background-color: #f5f5f5; /* Adjust the background color as needed */
    padding: 20px; /* Adjust the padding as needed */
  }
  
  .tab-buttons-pr {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align buttons to the start of the container */
    gap: 10px; /* Adjust the gap between buttons */
  }
  
  .tab-buttons-pr button {
   
    color: #000; /* Adjust the text color as needed */
    border: none;
    padding: 10px 20px; /* Adjust the padding as needed */
    font-size: 16px; /* Adjust the font size as needed */
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .tab-buttons-pr button.active {
    background-color: #0056b3; /* Adjust the active button background color as needed */
  }
  
  .tab-buttons-pr button:hover {
    background-color: #0056b3; /* Adjust the hover background color as needed */
  }
  