:root {
   --primaryColor: #59AA47;
   --secondaryColor:#8B8E8F;
   --bgColorPrimary: #59AA47;
   --bgColorSecondary: #5C5856;
   --whiteColor:#fff;
   --fontFamily: 'Poppins', sans-serif;
}
/* HeroBanner design */
.herobanner {
   background-image: url('/images/hero-banner.png');
   background-repeat: no-repeat;
   background-size: cover;
   height: 800px;
}

.section .inner-text {
   padding-top: 30%;
   color: var(--whiteColor);
}

.section .inner-text h1 {
   font-weight: 600;
}

.section .inner-text p {
   font-weight: 600;
   padding-top: 10px;
}

@media screen and (max-width: 767px) {
   .section .inner-text {
      padding-top: 30%;
      color: var(--whiteColor);
   }

   .section .inner-text h1 {
      font-weight: 600;
      font-size: 30px;
   }
}

/* count design */
.section-two{
   padding-top: 50px;
   padding-bottom: 50px;
}
.section h3{
   font-size: 50px;
   font-weight: 600;

}
.count-design{
   background-color: var(--bgColorPrimary);
}
.count-inner{
   border-right: 2px solid #fff;
}
.count-inner h2{
   padding-left: 10px;
   font-weight: 700;
   color: var(--whiteColor);
}
.count-inner-4 h2{
   padding-left: 10px;
   font-weight: 700;
   color: var(--whiteColor);
}
.count-inner h2 span{
   font-size: 15px;
}

.count-design p{
  
   font-size: 18px;
   color:var(--whiteColor);
   text-align: revert-layer;
}

  /* {Turnkey MEP Solutions} */


  .two-right {
   background-image: url('/images/two-right-two.png');
   background-repeat: no-repeat;
   background-size: cover;
   /* height: 800px; */
}
.two-left {
   background-image: url('/images/two-left.png');
   background-repeat: no-repeat;
   background-size: cover;
   /* height: 800px; */
}

.two-right .inner-two {
   display: flex;
   align-items: baseline;
   height: 100%;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: center;
}
.two-right h3{
   font-size: 50px;
   font-weight: 600;
   padding-bottom: 20px;

}

.section h6{
   color: #59AA47;
   font-size: 16px;
   padding-bottom: 20px;
}

/* solution-slider */

.solution-slider{
   background-color: var(--bgColorSecondary);
}
.solution-slider h5{
   color: var(--whiteColor);
   font-size: 50px;
   font-weight: 600;
   padding-bottom: 20px;
}


.two-left .inner-two {
   display: flex;
   align-items: baseline;
   height: 100%;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: center;
}

/* expertise */

.expertise {
   background-color: #F2F2F2;
}

.expertise .col-lg-6 a{
   justify-content: end;
}

.bg-exp {
   background-image: url('/images/exp0.png');
   background-repeat: no-repeat;
   background-size: cover;
   border-radius: 9px;
}

.expertise .bg-exp-data{
   display: flex;
   align-items: baseline;
   height: 100%;
   flex-direction: column;
   flex-wrap: nowrap;
   padding-left: 25px;
   justify-content: center;
}
.expertise .bg-exp-data h6{
   color: var(--whiteColor);
   font-size: 10px;
}

.expertise .bg-exp-data h3{
   color: var(--whiteColor);
   font-size: 20px;
}

.expertise .bg-exp-data p{
   color: var(--whiteColor);
   font-size: 15px;
}

/* quality */

.quality {
   background-color: #F2F2F2;
}